/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {
    background-image: url("для сайта.jpg"); /* замените путь на реальный путь к изображению */
    background-repeat: no-repeat;
    background-size: cover;
  }

  .accent {
    color: #007BFF;
  }
  
  .button {
    background-color: #007BFF;
    color: #FFFFFF;
  }

/* Заголовок */
.header {
    text-align: center;
    padding: 20px;
    background-color: #007bff;
    color: white;
}

/* Навигация */
.navigation ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px 0;
    background-color: #eaeaea;
}

.navigation a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease-in-out;
}

.navigation a:hover {
    color: #007bff;
}

/* Секции */
.section {
    padding: 40px;
    min-height: 300px;
}

.about {
    background-color: #fff;
}

.courses {
    background-color: #ddd;
}

.contacts {
    background-color: #fff;
}

.content h2 {
    margin-bottom: 20px;
}

.course-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.course-item {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.course-item h3 {
    margin-bottom: 10px;
}

/* Подвал */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #007bff;
    color: white;
}
